{{ ansible_managed|comment }}

[general]
version = {{ gitolite_version }}

vendor = "Silpion"
vendor_url = "http://silpion.de"
vendor_github = "https://github.com/silpion"
role_version = "{{ gitolite_role_version }}"
