{% if gitolite_template_use_cow %}
#   ____________________
#  < Managed by Ansible >
#   --------------------
#          \   ^__^
#           \  (oo)\_______
#              (__)\       )\/\
#                  ||----w |
#                  ||     ||
#
{% else %}
{{ ansible_managed|comment }}
{% endif %}

[general]
version = {{ gitolite_version }}

vendor = "Silpion"
vendor_url = "http://silpion.de"
vendor_github = "https://github.com/silpion"
role_version = "{{ gitolite_role_version }}"
