{% if gitolite_template_use_cow %}
#   ____________________
#  < Managed by Ansible >
#   --------------------
#          \   ^__^
#           \  (oo)\_______
#              (__)\       )\/\
#                  ||----w |
#                  ||     ||
#
{% else %}
{{ ansible_managed|comment }}
{% endif %}

{% for user in gitolite_gitoliterc_shell_user_list %}
{{ user }}
{% endfor %}
