#   ____________________
#  < Managed by Ansible >
#   --------------------
#          \   ^__^
#           \  (oo)\_______
#              (__)\       )\/\
#                  ||----w |
#                  ||     ||
#

{% for user in gitolite_gitoliterc_shell_user_list %}
{{ user }}
{% endfor %}
